.skill .skill-title {
    font-size: 3vw;
    font-weight: bold;
}

.skill .illustr-and-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 30%;
    justify-content: space-evenly;
}

.skill .illustr-and-project .attached-project-title, .skill .illustr-and-project .attached-project, .skill .illustr-and-project .level {
    font-size: 2.2vw;
    font-weight: bold;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.skill .illustr-and-project .level {
    flex-direction: column;
    justify-content: space-evenly;
}

.skill .illustr-and-project .level .level-title {
    font-size: 1.8vw;
}

.skill .illustr-and-project .level .level-img {
    width: 50%;
    height: 50%;
    border-radius: 90px;
    object-fit: contain;
}

.skill .illustr-and-project .level .level-text {
    font-size: 1.5vw;
    text-align: center;
}

/* This code don't work. I don't know why. I tried a lot of solutions */
/* .skill .illustr-and-project .attached-project:nth-of-type(1) {
    background-color: black;
} */

.skill .illustr-and-project .attached-project {
    text-decoration: none;
}

.skill .illustr-and-project .attached-project img {
    width: 95%;
    height: 95%;
    border-radius: 90px;
    object-fit: cover;
}

.skill .skill-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92%;
    height: 45%;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.skill .skill-description {
    font-size: 2vw;
    text-align: justify;
    width: 90%;
}