/* This file is used to preload fonts for better performance */
@font-face {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./WixMadeforDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./WixMadeforDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./WixMadeforDisplay-Bold.woff2") format("woff2");
}

