#projets {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  right: 0;
  left: 0;
  margin: auto;
}
#intro {
  display: flex;
  background-color: hsla(0, 0%, 100%, 0.7);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#intro .intro-titre {
  width: 50vw;
  text-align: center;
  margin-top: 15vh;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  border: 0.5vh solid black;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 1vh 5vw;
}
#intro .presentation {
  display: flex;
  flex-direction: row;
  margin: 5vh 2vw;
  justify-content: space-between;
}
#intro .presentation .present-text, #intro .presentation .photo-profil {
  border: 0.5vh solid black;
  border-radius: 25px;
}
#intro .presentation .photo-profil {
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro .presentation #img-profil {
  width: 20vw;
  height: auto;
}
#intro .presentation .present-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
}
#intro .present-text p {
  font-size: 1.5rem;
  font-family: 'Manrope', sans-serif;
  padding: 1vh 1vw;
}
  
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Slide in */
.page1 .p-titre {
	position: relative; /* Ajoutez cette propriété pour permettre le positionnement de l'élément ::after */
	overflow: hidden;
}

.page1 .p-titre::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.15em;
	background-color: white;
	opacity: 0;
	transform: translate3d(-101%, 0, 0);
	transition: opacity 300ms, transform 300ms;
}

.page1 .p-titre:hover::after,
.page1 .p-titre:focus::after{
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

/* Fade in */
.page1 .projets a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.2em;
	background-color: black;
	opacity: 0;
	transition: opacity 100ms, transform 100ms;
}

.page1 .projets a:hover::after,
.page1 .projets a:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}
.page1 .projets img {
  display: none;
}
.page1 .projets .robot:hover + #robot-img,
.page1 .projets .python:hover + #python-img,
.page1 .projets .java:hover + #java-img,
.page1 .projets .unesco:hover + #website-img,
.page1 .projets .ihm:hover + #ihm-img {
  display: block;
}

.page1 .projets a:hover + img {
  width: 20vw;
  height: 20vw;
  position: absolute;
  right: 8vw;
  bottom: 30vh;
}

/*
span de class .p-titre se trouvant dans la balise p de la page home.html
*/
.page1 .p-titre {
  color: black;
  font-weight: bold;
  font-size: 5em;
  display: block;
  position: relative;
  padding: 0.2em 0;
  font-family: 'Ubuntu', sans-serif;
}
.page1 .projets {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  text-align: center;
  font-family: 'Manrope', sans-serif;
}
/*
Style du lien vers la vidéo du projet se trouvant dans la 2ème partie de la page home.html
*/
.page1 .projets a {
  color: black;
  font-size: 2em;
  margin-bottom: 3vh;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

@media only screen and (max-width: 900px) {
  #intro .presentation {
    flex-direction: column-reverse;
    margin: 5vh 2vw;
    justify-content: space-between;
  }

  .page1 .projets .robot:hover + #robot-img,
  .page1 .projets .python:hover + #python-img,
  .page1 .projets .java:hover + #java-img,
  .page1 .projets .unesco:hover + #website-img,
  .page1 .projets .ihm:hover + #ihm-img {
    display: none;
  }
  #intro .intro-titre {
    font-size: 1.5rem;
  }
  #intro .present-text p {
    font-size: 1.25rem;
  }
  .page1 .projets a {
    font-size: 1.25rem;
  }
  .page1 .p-titre {
    font-size: 3rem;
  }
  
}