@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/*
Quelques commandes CSS pour toute la page

Notamment pour éviter les liens soulignés, les liste avec des puces ou avec numérotation
margin et padding à 0 pour éviter les espaces vides
et une scroll-behavior pour changer le comportement du scroll, qui est là réglé sur fluide
*/
* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url('../images/curseur.png') 2 2, auto;
}
/*
Corps de la page
*/
body {
  cursor: url('../images/curseur.png') 2 2, auto; /* changer le curseur par un curseur personnalisé */
}
/*
Corps de la page
overflox-x : hidden pour cacher ce qui dépasse horizontalement
*/
html {
  overflow-x: hidden; /* Permet de cacher ce qui dépasse horizontalement */
}
/* largeur de la barre de défilement */
::-webkit-scrollbar {
    width: 0.5vw;
}
  /* le fond de la barre de défilement en noir */
::-webkit-scrollbar-track {
    background: black;
}
  
  /*
  thumb du scrollbar
  qui est blanc pour faire le contraste avec le scrollbar
   */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}
  
  /* 
  thumb du scrollbar qui change de couleur quand le curseur est dessus
   */
::-webkit-scrollbar-thumb:hover {
    background: rgb(220, 220, 220);
}


/*
Div contenant les vidéos

Ce div est en z-index -100, c'est à dire qu'il est à l'arrière plan
le contenu est organisé en colonne
*/
.fond {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
}
/*
Première partie de la page

hauteur réglé sur la taille de la fenêtre
*/
.accueil {
  height: 100vh;
}
/*
Barre de navigation qui se situe tout en haut de la première partie de la page

Le contenu est organisé sur la même ligne
*/
.menu {
  top: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 8vh;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: azure;
  list-style-type: none;
  font-family: 'Manrope', sans-serif;
  border-bottom: 5px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: url('../images/curseur.png') 2 2, auto;
  animation: color-change 1s linear infinite alternate both;
  position: fixed;
}
.menu .Nom {
  flex-grow: 2;
  top: 0;
  bottom: 0;
  margin: auto;
}
/*
Barre de navigation qui se situe tout en haut de la première partie de la page
*/
.menu .pages {
  top: 0;
  bottom: 0;
  margin: auto;
  justify-content: space-between;
}
.menu .pages a {
    flex-grow: 1;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

/*
Les liens/textes de la barre de navigation
*/
.menu a {
    text-decoration: none;
    color: white;
    cursor: url('../images/curseur.png') 2 2, auto;
}
/*
Les liens/textes de la barre de navigation quand le curseur est dessus
*/
.menu a:hover {
  cursor: url('../images/curseur.png') 2 2, auto;
}
/*
style des boutons de la barre de navigation
*/
.menu .lien {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    margin: 1vh 1vh;
}
/*
style des boutons de la barre de navigation lorsque le curseur est dessus
*/
.menu .lien:hover {
  animation: pulsate 0.5s ease-in-out infinite both;
  cursor: url('../images/curseur.png') 2 2, auto;
}
/*
style de la 2ème partie de la page

le code est plutôt similaire à la première partie de la page
*/
.page1 {
  top : 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
/*
les vidéos en fond

leur taille est ajusté en fonction de la taille de la fenêtre avec height à 100vh et width à 100vw
les vidéos ont été étirés horizontalement pour remplir la largeur de la page avec transform: scaleX
leur opacité est réduit de 20%
*/
#video1{
    height: 100vh;
    transform: scaleX(1.3);
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    opacity: 0.80;
    position: fixed;
}
/*
Titre en gros se trouvant sur la 1ère partie de la page
*/
h1 {
  font-family: 'Manrope', sans-serif;
    font-size: 8vw;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-45%);
    animation: black-white 1.5s linear infinite alternate both;
}
/*
Ajout d'élément après le titre de la 1ère partie de la page
Il s'agit de la petit flèche qui est animé
*/
h1::after {
    content: "🢗";
    display: block;
    font-size: 100%;
    animation: bounce-bottom 1.5s ease infinite alternate both;
}
/*
Style concernant un div se trouvant sur la page motivations.html

le texte est centré horizontalement avec right:0, left:0 et margin:auto
flex est utilisé pour ce div
*/
.text {
  top : 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  margin: auto;
}
/*
la balise p de class .motivation qui se trouve dans le div .text
le fond est blanc, les bordures également. 
overflow-wrap: break-word permet de régler le comportement du texte lorsque celle ci dépasse horizontalement
Dans ce cas, le mot sera coupé et une partie se trouvera à la ligne suivante
*/
.text .motivation{
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  font-size: 1vw;
  overflow-wrap: break-word;
  right: 0;
  left: 0;
  margin: auto;
  background-color: white;
  border : 10px solid white;
  border-radius: 10px;
}
/*
texte de la page home.html

c'est un peu près le même code que pour les balises p précèdents
*/
.menu .profil {
  margin-left: 2vw;
  margin-right: 2vw;
}
/*
span de class .p-titre se trouvant dans la balise p de la page home.html
*/
.page1 .home-text .p-titre {
  font-size: 4vw;
  font-weight: bolder;
}
/*
Style du lien vers la vidéo du projet se trouvant dans la 2ème partie de la page home.html
*/
.page1 .video-projet {
  color: black;
}
/*
Ajout d'élément avant la vidéo se trouvant sur la 2ème partie de la page home.html
*/
.page1 .video-projet::before {
  content: "🢗";
  display: block;
  font-size: 100%;
  animation: bounce-bottom 1.5s ease infinite alternate both;
}

.menu .Nom {
  font-weight: bolder;
  margin-right: 10vw;
}
/*
Animation de rebondissement
*/
@keyframes bounce-bottom {
    0% {
      transform: translateY(20px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(16px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(10px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
}
/*
animations de changement de couleur de la bordure
*/
@keyframes color-change {
  0% {
    border-color: #19dcea;
  }
  25% {
    border-color: #b22cff;
  }
  50% {
    border-color: #ea2222;
  }
  75% {
    border-color: #f5be10;
  }
  100% {
    border-color: #3bd80d;
  }
}
/*
Animatopns de changement de couleur. Passage de noir à blanc
*/
@keyframes black-white {
  from {color: black;}
  to {color: white;}
}
/*
Animations de l'ombre d'un élément
*/
@keyframes shadow-drop {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
/*
Animation de battement
qui est utilisé lorsqu'on passe le curseur sur les liens se trouvant dans la barre de navigation
*/
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*
Partie responsive
*/
@media only screen and (max-width: 600px) {
  /*
  Les vidéos en fond de la page
  On passe sur une taille fixe pour la hauteur, tandis que la largeur est sur auto
  */
  #video1, #video2 {
    overflow: hidden;
    height: 100vh;
    width: auto;
    right: 0;
    left: 0;
    margin: auto;

  }
  /*
  Texte de la page motivations.html
  Changement de la taille de la police
  */
  .text .motivation {
    font-size: 2vw;
    font-weight: bold;
  }
  /*
  Texte de la page home.html
  Changement de la taille de la police
  */
  .page1 .home-text {
    font-size: 5vw;
  }
  /*
  Titre, span .p-titre se trouvant dans la balise p de class .home-text home.html
  Changement de la taille de la police
  */
  .page1 .home-text .p-titre {
    font-size: 7vw;
  }
  
}
