@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/*
Quelques commandes CSS pour toute la page

Notamment pour éviter les liens soulignés, les liste avec des puces ou avec numérotation
margin et padding à 0 pour éviter les espaces vides
et une scroll-behavior pour changer le comportement du scroll, qui est là réglé sur fluide
*/
* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
    
}

html {
  font-size: 16px;
}

/*
Corps de la page
overflox-x : hidden pour cacher ce qui dépasse horizontalement
*/
/* largeur de la barre de défilement */
::-webkit-scrollbar {
    width: 0.5vw;
}
  /* le fond de la barre de défilement en noir */
::-webkit-scrollbar-track {
    background: black;
}
  
  /*
  thumb du scrollbar
  qui est blanc pour faire le contraste avec le scrollbar
   */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}
  
  /* 
  thumb du scrollbar qui change de couleur quand le curseur est dessus
   */
::-webkit-scrollbar-thumb:hover {
    background: rgb(220, 220, 220);
}


/*
Div contenant les vidéos

Ce div est en z-index -100, c'est à dire qu'il est à l'arrière plan
le contenu est organisé en colonne
*/
.fond {
  z-index: -100;
  min-height: 100vh;
  min-width: 100vw;
  width: auto;
  height: auto;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
les vidéos en fond 

leur taille est ajusté en fonction de la taille de la fenêtre avec height à 100vh et width à 100vw
les vidéos ont été étirés horizontalement pour remplir la largeur de la page avec transform: scaleX
leur opacité est réduit de 20%
*/

#background-video {
  min-height: 100vh;
  min-width: 100vw;
  width: auto;
  height: auto;
  opacity: 0.80;
  overflow: hidden;

}

.all-div {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.all-div section {
  height: 100vh;
  width: 100%;
}
.page {
  scroll-snap-align: center;
}
.all-div, .page {
  height: 100vh;
  margin: 0 auto;
}
/*
Première partie de la page

hauteur réglé sur la taille de la fenêtre
*/
/*
Barre de navigation qui se situe tout en haut de la première partie de la page

Le contenu est organisé sur la même ligne
*/
.menu {
  top: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  font-family: 'Manrope', sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
}
.menu .profil-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  width: 20vw;
  height: auto;
  font-size: 1.5rem;
  background-color: black;
  border: 1vh solid black;
  border-bottom-right-radius: 30px;
  margin-right: auto;
}
.menu .profil-menu p {
  margin-left: 1vw;
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu .profil-menu img {
  width: 3vw;
  height: auto;
  margin-right: 1vw;
  top: 0;
  bottom: 0;
  margin: auto;
}
/*
Barre de navigation qui se situe tout en haut de la première partie de la page
*/
.menu .pages {
  top: 0;
  bottom: 0;
  margin: auto;
  margin-right: 0;
  margin-top: 0;
  background-color: black;
  border: 2vh solid black;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: space-evenly;
}
.menu .pages button {
  color: white;
  text-align: center;
  font-size: 1.4em;
}

/*
Les liens/textes de la barre de navigation
*/
.menu .pages a {
    text-decoration: none;
    color: white;
}
/*
style des boutons de la barre de navigation
*/
.menu a .lien {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    padding: 1.5vh 2vw;
}
/*
style des boutons de la barre de navigation lorsque le curseur est dessus
*/
.menu .pages .lien:hover {
  animation: pulsate 1s ease-in-out infinite both;
}
.menu .pages .lien:hover a {
  color: black;
  
}
.pages a > .lien:hover {
  background-color: white;
  color: black;
  border-radius: 8vw;
  cursor: pointer;
}
/*
style de la 2ème partie de la page

le code est plutôt similaire à la première partie de la page
*/
.page1 {
  width: 100%;
  height: 100vh;
}

.accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
/*
Titre en gros se trouvant sur la 1ère partie de la page
*/
.accueil a {
  font-family: 'Manrope', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  /*animation: black-white 1s alternate infinite both;*/
  color: black;
  cursor: pointer;
}
/*
Ajout d'élément après le titre de la 1ère partie de la page
Il s'agit de la petit flèche qui est animé
*/
.accueil .arrow {
  display: block;
  font-size: 5vw;
  animation: bounce-bottom 1.5s ease infinite alternate both;
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}
/*
Style concernant un div se trouvant sur la page motivations.html

le texte est centré horizontalement avec right:0, left:0 et margin:auto
flex est utilisé pour ce div
*/
.text {
  top : 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  margin: auto;
}
/*
la balise p de class .motivation qui se trouve dans le div .text
le fond est blanc, les bordures également. 
overflow-wrap: break-word permet de régler le comportement du texte lorsque celle ci dépasse horizontalement
Dans ce cas, le mot sera coupé et une partie se trouvera à la ligne suivante
*/

/*
texte de la page home.html

c'est un peu près le même code que pour les balises p précèdents
*/


.page1 {
  background-color: hsla(0, 0%, 100%, 0.7);
  border-top : 0.2vw solid hsla(0, 0%, 22%, 0.733); 
  width: 100%;
  height: 100vh;
}
/*
Ajout d'élément avant la vidéo se trouvant sur la 2ème partie de la page home.html
*/

.menu .Nom {
  font-weight: bolder;
  margin-right: 10vw;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.footer .credits {
  color: black;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.footer .credits span {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.footer .contact {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.footer .contact img {
  max-height: 20vh;
  filter: grayscale(1);
  transform: scale(1);
  transition: filter 1s;
  transition: transform 0.5s;
}
.footer .contact img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

/*
Animation de rebondissement
*/
@keyframes bounce-bottom {
  from {
    transform: translateY(20px);
    animation-timing-function: ease-in;
  }
  to {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}
/*
animations de changement de couleur de la bordure
*/
@keyframes color-change {
  0% {
    border-color: #19dcea;
  }
  25% {
    border-color: #b22cff;
  }
  50% {
    border-color: #ea2222;
  }
  75% {
    border-color: #f5be10;
  }
  100% {
    border-color: #3bd80d;
  }
}
/*
Animatopns de changement de couleur. Passage de noir à blanc
*/
@keyframes black-white {
  from {color: black;}
  to {color: #ffffff;}
}
/*
Animations de l'ombre d'un élément
*/
@keyframes shadow-drop {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 10px 18px rgba(0, 0, 0, 0.35);
  }
}
/*
Animation de battement
qui est utilisé lorsqu'on passe le curseur sur les liens se trouvant dans la barre de navigation
*/
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes colorfill {
  from {
    filter: grayscale(1);
  }
  to {
    filter: grayscale(0);
  }
}



/*
Partie responsive
*/
@media only screen and (max-width: 900px) {
  /*
  Les vidéos en fond de la page
  On passe sur une taille fixe pour la hauteur, tandis que la largeur est sur auto
  */
  
  /*
  #background-video {
    position: fixed;
    overflow: hidden;
    width: auto;
    min-height: 175vh;
  }
  */

  /*
  Texte de la page motivations.html
  Changement de la taille de la police
  */
  .text .motivation {
    font-size: 2em;
    font-weight: bold;
  }

  .accueil a {
    font-size: 3rem;
  }
  .accueil a:after {
    width: 8vw;
    height: 8vw;
  }

  .menu .profil-menu .Nom {
    font-size: 1rem;
  }
  .menu .pages a button{
    font-size: 1rem;
  }
  .menu .profil-menu {
    display: none;
  }

  .menu .pages {
    width: 100vw;
  }
  
  .footer .credits span {
    font-size: 1rem;
  }
  
  .footer .contact img {
    max-height: 10vh;
  }
}
